@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Primary Colors */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  /* Neutral Colors */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  background-color: var(--magnolia);
}

main { 
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  padding: 1rem;
  height: fit-content;
  background-color: var(--alabaster);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fill;
  margin: 3rem 5rem 1rem 5rem;
}

/* Buttons Start*/

.buttons-container {
  display: flex;
  justify-content: space-between;
}
.buttons-container > button {
  font-weight: 500;
  height: 3rem;
  width: 7.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}
.buttons-container > button:hover {
  cursor: pointer;
}
.back-button {
  color: var(--cool-gray);
  border: none;
  background-color: inherit;
}
.next-button {
  color: var(--magnolia);
  background-color: var(--marine-blue);
  border: none;
}

/* Buttons End */

/* Form CSS Start */

.sidebar {
  text-transform: uppercase;
  padding: 2rem;
  color: var(--alabaster);
  height: 568px;
  width: 274px;
  background-repeat: no-repeat;
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
}

.sidebar > .sidebar-item > h1 {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1.5px solid var(--light-gray);
}

.sidebar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.3rem;
}

.sidebar-item > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}
.sidebar-item > div > span {
  color: var(--light-gray);
  font-size: 0.85rem;
  height: 1.2rem;
}
.sidebar-item > div > h3 {
  height: 1.5rem;
  font-size: 1rem;
}

/* Form CSS End */